{% extends 'base.html.twig' %}

{% block title %}CGU - Sortir.com
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/about_us.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

<div class="header">

</div>

<div class="containerA">
   
   <div class="about">
      <div class="left">
         <h1 class="titre" >A propos de nous</h1>
         <hr class="barre">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>
      <div class="right">
         <img src="https://res.cloudinary.com/arpr/image/upload/v1540359700/adult-affection-baby-755028.jpg">
      </div>
      <div class="clear"></div>
   </div>
   
   
   
   <div class="mission">
     
      <div class="left">
         <img src="https://res.cloudinary.com/arpr/image/upload/v1540359700/adult-affection-baby-755028.jpg">
      </div>
        <div class="right">
         <h1 class="titre">Notre mission</h1>
         <hr class="barre">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>
      <div class="clear"></div>
      
   </div>
   
   
  
       <div class="team">
      <h1 class="titre"> Notre team<hr class="barre"></h1>
          
          
          
      <div  class="cardA">
         <div class="circle-containerA">
            <h1 class="titre" style="color:#fff;">M</h1 >
         </div>
         <h2>Jeff Bezoz</h2>
         <h4>Directeur Marketing</h4>
         <p>Après un échec de sa petite entreprise "Amazon", il rejoint notre boîte pour le fun.</p>
      </div>
          
          
          
      <div class="cardA">
         <div class="circle-containerA">
            <h1 class="titre" style="color:#fff;">M</h1>
         </div>
         <h2>Bill Gates</h2>
         <h4>Responsable technique</h4>
          <p>Il a fabriquer tous les ordinateurs de l'entreprise de ses propres mains.</p>
      </div>
          
          
          
      <div class="cardA">
         <div class="circle-containerA">
            <h1 class="titre" style="color:#fff;">R</h1>
         </div>
         <h2>Einstein</h2>
         <h4>Concepteur du temps</h4>
          <p>Il a découvert le voyage dans le temps, il est allée dans le futur, il a vu qu'on avait percé.</p>
      </div>
          
          
          
      <div class="cardA">
        <div class="circle-containerA">
            <h1 class="titre" style="color:#fff;">B</h1>
         </div>
         <h2>Mohammed Ali</h2>
         <h4>Chef de la sécurité</h4>
          <p>Après une petite carrière dans la boxe, il a voulu intégrer quelque chose de mieux, c'est pour ça qu'il nous à rejoint.</p>
      </div>
          
             <div class="cardA">
         <div class="circle-containerA">
                        <img class="circle-containerA" src="{{ asset('img/mec-random.jpg')}}">

         </div>
         <h2>Brad pitt</h2>
         <h4> Directeur Commerciale</h4>
         <p>Avant de rejoindre l'entreprise, il avait un manque de confiance, il se trouvait pas beau. Maintenant il tourne quelques films quand il a le temps.</p>       
      </div>
          
          
          
      <div class="cardA">
        <div class="circle-containerA">
            <img class="circle-containerA" src="{{ asset('img/mec-random.jpg')}}">
         </div>
         <h2>Un mec random</h2>
         <h4> On sait pas trop</h4>
          <p>Enfaîte j'ai perdu un pari quand j'étais bourré et j'ai embauché ce mec mais je m'en souviens plus.</p>
      </div>
          
          
   </div>

   
</div>
<footer>
   <br>
   <p>Copyright ©2021 SORTIR.COM. All rights reserved</p>
</footer>
{% endblock %}