
{% extends 'base.html.twig' %}

{% block title %}CGU - Sortir.com
{% endblock %}
{% block stylesheet %}
    <link href="{{ asset('css/cgu.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}



<div class="container mt-4">



    <div class="texte">

        <h2 class="titre">Conditions Générales d'Utilisation</h2>

        <h2 id="article1">Article 1. Objet de la plateforme collaborative</h2>

        <p>Le site « Donnez votre français à la science » est une plateforme collaborative destinée au recueil de données linguistiques et à l’information du public. Elle est développée dans le cadre d’un projet de recherche (voir l’onglet « à propos ») . Son accès est libre et gratuit, dans le respect des présentes conditions générales d’utilisation.</p>

        <h4>Description des objectifs de la plateforme et fonctionnement</h4>

        <p>Le site « Donnez votre français à la science » permet la diffusion d’enquêtes linguistiques en ligne créées par des chercheurs qui étudient la langue française provenant de toutes régions de la France et de toutes les régions du monde où le français et ses variantes sont, couramment ou non, employés. Ces enquêtes portent sur les pratiques linguistiques, les prononciations et les vocabulaires régionaux. Ce site permet également la diffusion des réponses aux différentes enquêtes non seulement aux Enquêteurs eux-mêmes, mais aussi au grand public. </p>

        <p>Cette plateforme vise essentiellement à apporter une documentation sur la variation de la langue française notamment sous sa forme orale ainsi qu’à la faire connaître à la communauté scientifique comme au grand public. Ainsi, toute personne intéressée par la variété linguistique pourra se renseigner sur ce site, à titre professionnel ou non.</p>

        <p>Enfin, le blogue de la plateforme permet à toute personne ayant créé un compte Enquêteur de publier des articles en lien avec les thématiques abordées dans les enquêtes qu’il aura publiées. L’utilisateur non inscrit pourra consulter le blogue, commenter des articles et répondre à des enquêtes.</p>


        <h2 id="article2">Article 2. Conditions d’inscription et de publication de contributions</h2>

        <p>Afin de pouvoir créer et publier des enquêtes et participer au blogue de la plateforme, il est nécessaire de créer un compte utilisateur, ou compte « Enquêteur ». Ainsi, l’Enquêteur est en mesure de répondre à des enquêtes et d’en publier.</p>

        <h3 id="article2.1">2.1 Conditions d’inscription</h3>

        <p>Pour accéder aux fonctionnalités de création d’enquête et de publication sur le blogue, les personnes sont invitées à s’inscrire en créant un compte personnel d’Enquêteur nécessitant de communiquer : nom, prénom, nom d’utilisateur, mail, mot de passe, qualité.<br/>
            L’adresse mail pourra être utilisée par les administrateurs pour communiquer des informations liées à la plateforme.</p>



        <h3 id="article2.2">2.2 Conditions de publication de contributions</h3>

        <p> Les publications et les commentaires ne sont pas soumis à validation, mais sont modérés a posteriori.
            En publiant sur le blogue, l’Enquêteur s’engage à respecter les points suivants :
        <ul>
            <li>il publie sous son identité propre.</li>
            <li>Les échanges devront être respectueux d’autrui et constructifs afin de faire avancer les idées et les débats.</li>
            <li>Les prosélytismes et les propos commerciaux, publicitaires, ou sans rapport avec l’objet de la plateforme et les sujets qui y sont développés pourront être retirés par les administrateurs de la plateforme.</li>
            <li>Sont interdits de publication ou de partage les contenus comprenant des propos insultants, agressifs, diffamatoires ou pornographiques. Il en va de même pour l’incitation à la violence, la haine raciale, le sexisme, l’homophobie et la négation des crimes contre l’humanité. Les administrateurs appartenant à l’unité de recherche Linguistique, langues, Parole (LiLPa) de l’Université de Strasbourg se réservent le droit de retirer tout contenu
                mis en ligne ne respectant pas cette charte, sans avoir à s’en justifier auprès de l’utilisateur.</li>
            <li>L’Enquêteur est attentif à la grammaire et à l’orthographe des publications et commentaires pour le confort de tous.</li>
        </ul>
        </p>

        <h2 id="article3">Article 3. Droits de propriété intellectuelle</h2>

        <h3 id="article3.1">3.1 Concernant la plateforme</h3>

        <p>La plateforme « Donnez votre français à la science » est la propriété de l’Université de Strasbourg.
            Elle a été conçue par l’unité de recherche Linguistique, langues, Parole (LiLPa) de l’Université de Strasbourg, en collaboration avec les prestataires suivants :
        <ul>
            <li>Le Gouvernement de la République française</li>
            <li>Le FNRS (Fonds de la recherche scientifique)</li>
            <li>Lilpa (Linguistique, langues, paroles)</li>
            <li>L’UCL (Université catholique de Louvain)</li>
            <li>La Sorbonne Paris IV</li>
            <li>L’Université de Genève</li>
            <li>Ortolang (Outils et Ressources pour un Traitement Optimisé de la LANGue)</li>
            <li>Le Limsi (Laboratoire d’informatique pour la mécanique et les sciences de l’ingénieur)</li>
            <li>Le CNRS (Centre national de la recherche scientifique)</li>
        </ul>
        </p>

        <p>Cette plateforme fonctionne grâce à un framework Django. Le code est open-source et déposé sur GitLab. L’hébergement est pris en charge par ORTOLANG ISSN 2417-7482© 2012 - ATILF / CNRS - Université de Lorraine
            <br/>
            44, avenue de la Libération<br/>
            54063 Nancy Cedex - France<br/>
            Tél. : +33 3 54 50 53 00<br/>
            Fax : +33 3 83 97 24 56 <br/>
        </p>

        <h3 id="article3.2">3.2 Concernant les publications sur le blogue par les Enquêteurs</h3>
        <p>L’Enquêteur reste titulaire de l’intégralité de ses droits de propriété intellectuelle.
            L’Enquêteur est conscient que ses contenus pourront être republiés, relayés sur les outils de communication et les
            réseaux sociaux de l’Université de Strasbourg.</p>
        <p>La plateforme s'engage à faire figurer le nom de l’Enquêteur à proximité de chaque utilisation de ses publications.
            Les contenus seront de façon privilégiée associés par l’Enquêteur à une licence creativecommons afin de contribuer
            à la dynamique d’ouverture des données dans laquelle s’inscrit la plateforme « Donnez votre français à la science ».
            Pour en savoir plus sur les creativecommons, cliquez ici : http://creativecommons.fr/ </p>

        <h3 id="article3.3">3.3 Concernant les enquêtes</h3>

        <p>L’Enquêteur créateur d’une enquête accepte que celle-ci et ses résultats soient placés sous la licence Creative Commons CC BY-SA 4.0. <br/>
            Il accédera en exclusivité aux résultats de son enquête pendant un délai de quarante-huit mois une fois l’enquête close. <br/>Puis les résultats seront mis à disposition gratuitement à tout visiteur de la plateforme et selon les termes de la <br/>
            licence précitée.<br/>
            En utilisant la plateforme « Donnez votre français à la science », l’Enquêteur s’engage à la citer dans toute communication<br/> liée à son enquête sous le format suivant :<br/>
            « Plateforme Donnez votre français à la science (donnezvotrefrancais.fr) »</p>

        <h2 id="article4">Article 4. Responsabilités</h2>
        <h3 id="article4.1">4.1 Responsabilité des utilisateurs de la plateforme</h3>

        <p>Toute personne qui publie sur la plateforme « Donnez votre français à la science » est un Enquêteur identifié. L’Enquêteur est pleinement responsable des contenus qu’il publie sur la plateforme et s’assure de disposer des droits de tous visuels ou contenus (son, image, vidéo…) qu’il souhaite publier (autorisation de diffusion de son auteur ou de ses ayants droit).
            L’Enquêteur s'engage à ne pas mettre en ligne de contenus pouvant porter atteinte aux intérêts de tierces personnes.
            Tout recours en justice engagé par un tiers lésé contre la plateforme sera pris en charge par l‘Enquêteur.
            L’Enquêteur s'assure de garder son mot de passe secret et assume les risques liés à l'utilisation de son identifiant et mot de passe. La plateforme décline toute responsabilité à ce sujet.
            En utilisant la plateforme « Donnez votre français à la science », l’Enquêteur s’engage à la citer dans toute communication liée à son enquête sous le format suivant :
            « Plateforme Donnez votre français à la science (donnezvotrefrancais.fr) »</p>

        <p>L’Enquêteur s’engage à ne pas demander dans ses enquêtes l’identité des participants, ni d’informations personnelles pouvant leur porter préjudice.</p>

        <h3 id="article4.2">4.2 Responsabilités de l’Université de Strasbourg</h3>
        <p>L’Université de Strasbourg met en œuvre tous les moyens à sa disposition pour assurer un accès de qualité à la plateforme « Donnez votre français à la science » et pour offrir aux visiteurs et aux Enquêteurs des informations ou outils disponibles et vérifiés. </p>

        <p>L’Université de Strasbourg ne saurait être tenue responsable des erreurs, d’une absence de disponibilité des informations ou de la présence de virus sur leur site. </p>

        <p>L’Université de Strasbourg s’efforcera de corriger les erreurs identifiées et qui seront signalées à cette adresse : donnezvotrefrancais@unistra.fr par la communauté des Enquêteurs et visiteurs de la plateforme. </p>

        <p>L’Université de Strasbourg ne saurait garantir l’exactitude, la complétude, l’actualité des informations diffusées sur son site. En dépit du soin apporté au recueil des informations ainsi qu'à la réalisation de la plateforme au moyen des techniques les plus récentes, des erreurs, omissions, inexactitudes, coupures ou additions indépendantes de notre volonté peuvent demeurer ou s'insérer sur ce site. En outre, de même que pour toute publication, après un certain temps, des informations ou éléments contenus dans ce site peuvent devenir obsolètes. </p>

        <p>Les informations fournies par l’Université de Strasbourg sont non contractuelles. Elles sont fournies à titre indicatif et ne sauraient dispenser le Visiteur et l’Enquêteur d’une analyse complémentaire et personnalisée. Ils reconnaissent utiliser les informations et contenus de la  présente plateforme sous leurs responsabilités exclusives.
            En conséquence, l’unité de recherche Linguistique, langues, Parole (LiLPa) de l’Université de Strasbourg ne saurait voir sa responsabilité engagée à raison de tout préjudice, direct ou indirect, de quelque nature que ce soit, résultant pour tout ou partie de l'utilisation des informations du site « Donnez votre français à la science ».
            En outre, L’Université de Strasbourg ne saurait voir sa responsabilité engagée à raison de la nature ou du contenu des sites référencés sur les pages de la plateforme et notamment ceux pour lesquels il existe un lien direct aux ressources constituées par les sites tiers sélectionnés. </p>

        <p>L'accès aux services de la plateforme peut à tout moment faire l'objet d'une interruption, d'une suspension, d'une modification sans préavis pour une maintenance ou pour tout autre cas. Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n'engage pas la responsabilité de l’Université de Strasbourg.</p>

        <p>L’Université de Strasbourg s'engage à mettre en œuvre tous les moyens nécessaires afin de garantir au mieux la sécurité et la confidentialité des données. La responsabilité de l’Université de Strasbourg ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.</p>

        <h2 id="article5">Article 5. Droit de modération et sanctions</h2>

        <p>L’Enquêteur s’engage à respecter l’image et la réputation de la plateforme et à ne pas se livrer à des déclarations ou des actions quelconques portant atteinte à celle-ci.

            En cas d’atteinte aux lois en vigueur, aux bonnes mœurs, à la présente charte d’utilisation, la plateforme se réserve la possibilité discrétionnaire de : </p>
        <ul>
            <li>supprimer les contenus concernés et les commentaires liés, sans avoir à en tenir informés les Enquêteurs.</li>
            <li>fermer les commentaires concernant les contenus incriminés pour une durée limitée ou définitive.</li>
            <li>supprimer, après avertissement,  les comptes des Enquêteurs ne respectant pas cette charte en cas de comportement interdit récurrent.</li>
        </ul>


        <h2 id="article6">Article 6. Données à caractère personnel</h2>

        <p>Est une donnée à caractère personnel « toute donnée se rapportant à une personne physique identifiée ou identifiable […] directement ou indirectement, notamment par référence à un identifiant, tel qu'un nom, un numéro d'identification, des données de localisation, un identifiant en ligne, ou à un ou plusieurs éléments spécifiques propres à son identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale » article 4 du Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016.</p>

        <h3 id="article6.1">6.1 Données à caractère personnel des Enquêteurs</h3>
        <p>Afin d’accéder à l’ensemble des fonctionnalités de la plateforme, les utilisateurs doivent se créer un compte personnel.
            Conformément au règlement européen (UE) 2016/679 du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel, et à la loi « Informatique, fichiers et libertés » n° 78-17 du 6 janvier 1978 modifiée, les informations recueillies sur le formulaire d’inscription à la plateforme sont enregistrées dans un fichier informatisé par l’unité de recherche Linguistique, langues, Parole (LiLPa) de l’Université de Strasbourg.
            Elles le sont sur la base du consentement des personnes souhaitant créer un compte utilisateur « Enquêteur ».
            Le consentement peut être retiré à tout moment.
            Ces informations sont indispensables pour la création du compte personnel de l’Enquêteur.
            Elles font l’objet d’un traitement informatique uniquement destiné à l'administration, la gestion de la plateforme et sont conservées pendant la durée d’inscription de l’Enquêteur à la plateforme.
            Les données personnelles suivantes sont collectées lors de cette procédure : nom, prénom, nom d’utilisateur, mail, mot de passe, qualité.
            L’Université de Strasbourg s’engage à ne pas utiliser les données collectées à des fins commerciales. Aucune donnée personnelle recueillie sur la plateforme ne sera cédée à des tiers.
            Vous pouvez accéder à vos données via votre profil utilisateur. Vous pouvez également les faire rectifier ou les faire effacer en vous adressant à : donnezvotrefrancais@unistra.fr
            Vous pouvez également vous adresser au délégué à la protection des données de l’Université de Strasbourg (DPO/DPD) en lui écrivant à l’adresse mail suivante : cil@unistra.fr
            Après avoir pris contact avec le DPO, et si vous estimez que vos droits sur vos données ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.</p>

        <h3 id="article6.2">6.2 Les données à caractère personnel collectées par les enquêtes créées sur la plateforme</h3>
        <p>Les Enquêteurs qui créent des enquêtes collectant des données à caractère personnel le font sous leur entière responsabilité.
            Dès lors que des données à caractère personnel seront collectées (âge, sexe, région d’origine, catégorie socioprofessionnelle…), l’Enquêteur devra respecter les principes fondamentaux de protection des données personnelles :</p>
        <ol>
            <li>Effectuer la collecte pour des finalités déterminées, explicite et légitime</li>
            <li>Limiter les données collectées aux seules données pertinentes par rapport aux objectifs de l’enquête</li>
            <li>Déterminer une durée de conservation des données personnelles et le sort des données par la suite (suppression, archivage)</li>
            <li>S’assurer de la confidentialité et de la sécurité des données collectées</li>
            <li>Respecter les droits des personnes notamment leur droit d’information sur qui collecte et traite les données, pour quoi, pendant combien de temps, ainsi que leur droit à accès ou rectification de ces données.
                Les données collectées feront par la suite l’objet d’une diffusion au grand public sur la plateforme « Donnez votre français à la science ». Il conviendra d’en informer les personnes concernées.
                Enfin, il revient à l’Enquêteur d’effectuer les démarches nécessaires auprès du délégué à la protection des données (DPO/DPD) de son établissement de rattachement concernant la collecte et le traitement des données dans le cadre de ses recherches.</li>
        </ol>

    </div>
</div>
</div>
</body>
{% endblock %}