{% extends 'base.html.twig' %}

{% block title %}
    <title>Pseudo</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <div class="row text-center mt-4">
                    <h3>Prénom : </h3>
                    <h3>Nom : </h3>
                    <h3>Téléphone : </h3>
                    <h3>Email : </h3>
                    <h3>Ville de rattachement : </h3>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

