{% extends 'base.html.twig' %}
{% block title %}
    <title>Mon Profil</title>
{% endblock %}
{% set menu = [
    ["Annuler","app_annuler"],
] %}
{% block body %}
    <div class="row text-center mt-4">
        <h2>Enregistrement du profil</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row mt-3">
                    <div>
                        {% form_theme formProfil 'bootstrap_5_horizontal_layout.html.twig' %}
                        {{ form(formProfil) }}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}




