{% extends 'admin/base.html.twig' %}
{% block title %}
Dashboard - Admin
{% endblock %}
{% block body %}
    <div class="content-container">
        <div class="container-fluid">
            <div class="jumbotron">
                <h1>Bienvenue sur l'espace administration de sortie.com</h1>

                
            </div>
            <p>Cette partie du site permet la gestion des différentes zones du sites, tel que :  </p>
            <h2>Les participants</h2>
            <h2>Les sites</h2>
            <h2>Les lieux </h2>
            <h2>Les villes</h2>

        </div>
    </div>

{% endblock %}
