{% extends 'admin/base.html.twig' %}
{% block title %}
Dashboard - Admin
{% endblock %}
{% block body %}
    <div class="content-container">
        <div class="container-fluid">
            <div class="jumbotron">
                <h1>Bienvenue sur l'espace administration de sortie.com</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad exercitationem maxime nemo possimus quidem rerum tempora velit! Adipisci, blanditiis culpa dolores, eius expedita nam placeat repellendus similique unde voluptates voluptatum!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                
            </div>

        </div>
    </div>

{% endblock %}
