{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row text-center mt-3">
                    <h5>Nom de la sortie : </h5>
                    <h5>Date et heure de la sortie : </h5>
                    <h5>Date limite d'inscription : </h5>
                    <h5>Nombre de places : </h5>
                    <h5>Durée : </h5>
                    <h5>Description et infos : </h5>
                </div>
            </div>

            <div class="col">
            </div>

            <div class="col">
                <div class="row text-center mt-3">
                    <h5>Ville organisatrice : </h5>
                    <h5>Lieu : </h5>
                    <h5>Rue : </h5>
                    <h5>Code postal : </h5>
                    <h5>Latitude : </h5>
                    <h5>Longitude : </h5>
                </div>
            </div>

            <div class="col">
            </div>

            <div class="col">
            </div>

        </div>
    </div>
    <h2> Liste des participants inscrits : </h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </div>

{% endblock %}

