{% extends 'base.html.twig' %}

<div class="col">
    <div class="row text-center mt-4">
        <h3>Nom de la sortie : </h3>
        <h3>Date de la sortie </h3>
        <h3>Ville organisatrice </h3>
        <h3>Lieu : </h3>
        <h3>Motif : </h3>
    </div>
</div>

<button type="submit" class="btn">Enregistrer</button>
<button type="submit" class="btn">Annuler</button>