{% extends 'base.html.twig' %}

{% block fanch2 %}
    <div class="row text-center mt-4">
        <h2> Gérer les villes</h2>
    </div>

    <div class="container">
        <h2>Filtrer les villes</h2>
        <p>Proposer le nom de la ville de votre recherche</p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <ul class="list-group" id="myList">
            {% for site in sites %}
                <li class="list-group-item">{{ site.nom | upper }}</li>
            {% endfor %}
        </ul>
    </div>



    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myList li").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}