#button {
    justify-content: space-between;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#bg {
    background-image: url('../img/together.png');
    background-repeat: no-repeat;
}


/* DASHBOARD ADMIN */

#adminMenu {
    padding-top: 20px;
}

.panel-body .btn:not(.btn-block) {
    width: 120px;
    margin-bottom: 10px;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky+body {
    padding-top: 60px;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}